:host {
  position: relative;
}

.pokemon-face {
  right: 90px;
  top: 105px;
}

.pokemon-back {
  left: 80px;
  bottom: 8px;
}

.status-bar-face {
  left: 60px;
  top: 60px;
}

.status-bar-back {
  right: 20px;
  bottom: 5px;
}