<button *ngIf="!battleService.isFighting" (click)="fight()">Start Fight</button>
<button *ngIf="battleService.isFighting" (click)="pauseResume()">{{battleService.isPaused ? 'Resume' : 'Pause'}}</button>

<app-pokemon class="pokemon-face" [pokemon]="battleService.enemyPokemon"></app-pokemon>
<app-pokemon class="pokemon-back" [pokemon]="battleService.myPokemon" [fromBack]="true"></app-pokemon>

<app-pokemon-status-bar class="status-bar-back" [pokemon]="battleService.myPokemon"></app-pokemon-status-bar>
<app-pokemon-status-bar class="status-bar-face" [pokemon]="battleService.enemyPokemon"></app-pokemon-status-bar>

<button (click)="battleService.reset()">Reset Fight</button>