<button *ngIf="!isFighting" (click)="fight()">Start Fight</button>
<button *ngIf="isFighting" (click)="isPaused = !isPaused">{{isPaused ? 'Resume' : 'Pause'}}</button>

<app-pokemon class="pokemon-face" [pokemon]="enemyPokemon"></app-pokemon>
<app-pokemon class="pokemon-back" [pokemon]="myPokemon" [fromBack]="true"></app-pokemon>

<app-pokemon-status-bar class="status-bar-back" [pokemon]="myPokemon"></app-pokemon-status-bar>
<app-pokemon-status-bar class="status-bar-face" [pokemon]="enemyPokemon"></app-pokemon-status-bar>

<button (click)="reset()">Reset Fight</button>