/* You can add global styles to this file, and also import other style files */

html {
  background-color: darkcyan;
  color: black;
  font-family: 'Pokemon';
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pokemon';
  src: url('./assets/pokemon_font.ttf') format('truetype');
}

*, *:before, *:after {
  box-sizing: inherit;
}